body
{
	background-image:url("background.jpg");
    background-position: center;
    background-size: cover;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
	#title
	{
		color:cornsilk;
	}

	
